<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NationalTreasure-West</title>

    <!-- Bootstrap tag -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Masonry JavaScript plugin-->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>  
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesv2.css')}}">

</head>
<body>
    <!-- Header section -->
    <header>
        <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('index')}}">NationalTreasure</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Region
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{url_for('east')}}">East</a></li>
                      <li><a class="dropdown-item" href="{{url_for('west')}}">West</a></li>
                      <li><a class="dropdown-item" href="{{url_for('central')}}">Central</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                  </li>                                 
                </ul>
              </div>
            </div>
          </nav>
    </header>


    <!-- Content section  -->
    <div class="container">
      <h1 class="text-center">West Region</h1>
      <h3 class="text-center">Top 5 Most Popular Parks</h3>
      <div class="row">
        <div class="text-center">
          <button id="west1">Zion</button>
          <button id="west2">Yellowstone</button>
          <button id="west3">Grand Canyon</button>
          <button id="west4">Grand Teton</button>
          <button id="west5">Yosemite</button>
        </div>
      </div>
      <div class="row">
        <div class="west-img text-center"></div>        
      </div>
      <div class="row">
        <div class="col">
          <img src="{{url_for('static', filename='images/West_Region/Activities_west.png')}}" class="img-fluid" alt="Activities at Top 5 Most Visited Parks in Western US">
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <img src="{{url_for('static', filename='images/West_Region/West_pie.png')}}" class="img-fluid" alt="Top 5 Most Visited Parks in Western US">
        </div>
        <div class="col-lg-6 col-md-12">
          <img src="{{url_for('static', filename='images/West_Region/West_bar.png')}}" class="img-fluid" alt="Number of National Parks by State in Western US">
        </div>
      </div>      
    </div>

<!-- JavaScript files -->

<script type="text/javascript" src="{{url_for('static', filename='js/West/west1.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/West/west2.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/West/west3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/West/west4.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/West/west5.js')}}"></script>

<!--Bootstrap tags  -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
</body>
</html>